@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #0c0d17;
    color: white;
    font-family: "Poppins";
    text-align: center;
}

a {
    color: #eebb3b;
}

input {
    padding: 0.5rem;
    border: none;
    font-family: 'Poppins';
    border-radius: 8px;
}

button[type="submit"] {
    background-color: #eebb3b;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    padding: 0.5rem;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-left: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* all divs in main except first */
main>div:not(:first-child) {
    text-align: center;
    margin-top: 3rem;
}

.title-holder {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f099c;
    text-align: center;
}

.title-holder img {
    max-height: 45vh;
    max-width: 90vw;
    margin-bottom: 1rem;
}

.title-description {
    font-size: 2rem;
}

.countdown-timer {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 45px;
    margin-top: 4vh;
    margin-bottom: 5vh;
}

.date {
    color: #eebb3b;
    font-size: 1.5rem;
}

.newsletter-folder {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 6px;
    padding: 2px;
    border-radius: 8px;
}

.welcome-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 50%;
}

.welcome-container h1 {
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
}

.welcome-text {
    text-align: left;
    width: 100%;
    font-size: 1.25rem;
}

.partners {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}

.partners img {
    max-width: 40vw;
    margin: 2vw;
    object-fit: contain;
}

.faq {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.accordion-item {
    cursor: pointer;
    padding: 1rem;
    width: 40%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.accordion-button {
    background-color: #1f099c;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.75rem;
    font-weight: bold;
    transition: 0.4s;
    font-family: "Poppins";
    color: white;
    cursor: pointer;
}

.accordion-content {
    background-color: #1f099c;
    transition: 0.25s;
    max-height: 0;
    padding: 0 1rem;
    overflow: hidden;
    width: 100%;
    font-size: 1.25rem;
}

.accordion-item.active .accordion-content {
    max-height: 500px;
    padding-bottom: 1rem;
}

.sponsor-holder {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.sponsor-text1 {
    margin-bottom: 23px;
    font-size: 20px;
}

.sponsor-text2 {
    font-size: 20px;
}

.sponsor-button {
    background-color: #1f099c;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    padding: 0.5rem;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 50px;
    line-height: 25px;
}

.credits {
    font-size: .75rem;
    margin-top: 5rem;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.pink {
    color: #ec4899;
}

@media (max-width: 768px) {
    .partners {
        flex-direction: column;
    }

    .partners img {
        max-width: 80vw; 
        margin-top: 3rem;
    }

    .welcome-container {
        width: 80%;
    }

    .title-description, .date {
        font-size: 1.5rem;
    }

    .title-holder p,
    .title-holder h1
    .title-holder h2 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .title-holder img {
        max-height: 30vh;
    }

    .countdown-timer {
        width: 95%;
    }

    .faq {
        flex-direction: column;
    }

    .accordion-item {
        width: 100%;
    }

    .sponsor-holder * {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .sponsor-button {
        margin-top: 1.5rem;
    }
}