@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #0c0d17;
    color: white;
    font-family: "Poppins";
    text-align: center;
}

a {
    color: #3784ff;
}

input {
    width: 25%;
    padding: 0.5rem;
    border: none;
    font-family: 'Poppins';
}

@media (max-width: 768px) {
    input {
        width: 50%;
    }
}

button[type="submit"] {
    background-color: #8b5aff;
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

/* all divs in main except first */
main>div:not(:first-child) {
    text-align: center;
    margin-top: 3rem;
}

.title-holder {
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8b5aff;
    text-align: center;
}

.title {
    font-size: 6rem;
    font-family: "Anton SC";
}

.title-description, .date {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .title {
        font-size: 3.75rem;
    }

    .title-description, .date {
        font-size: 1.5rem;
    }
}

.faq-title {
    margin-bottom: 50px;
}

.faq-content {
    display: grid;
    grid-template-columns: 410px 410px;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.container {
    background-color: #714ace;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    transition: transform 0.25s;
}

.container:hover {
    transform: scale(1.05);
}

.container-title {
    font-size: 28px;
    font-weight: bold;
}

.container-info {
}

@media (max-width: 870px) {
    .faq-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, 410px);
        justify-content: center;
    }

}

.credits {
    font-size: .75rem;
    margin-top: 5rem;
}