.title-holder {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8b5aff;
    color: white;
}

.title {
    font-size: 90px;
    font-family: "Anton SC";
}

.title-description, .date {
    font-size: 30px;
}